body {
  margin: 40px;
  font-family: "Helvetica Neue";
  font-weight: 200;
}

h2 {
  font-size: 100%;
  font-weight: 200;
}

ul {
  padding: 0;
  margin: 10px 0;
}

.x-item, .x-group {
  list-style-type: none;
  padding: 10px;
  margin: 5px 0;
  /*cursor: -webkit-grab; cursor: -moz-grab;*/
  /*border: 1px solid #aab;*/
  border-radius: 4px;
}

.x-group {
  margin: 10px 0;
  background: hsl(212, 10%, 90%);
}

.x-item {
  background: #fff;
}

.x-group.accepts-drag {
  /*border-color: hsl(212, 92%, 75%);*/
  background: hsl(212, 92%, 80%);
}

.x-item.accepts-drag {
  /*border-color: hsl(212, 92%, 75%);*/
  background: hsl(212, 92%, 80%);
}

[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
