body {
  margin: 40px;
  font-family: "Helvetica Neue";
  font-weight: 200;
}

h2 {
  font-size: 100%;
  font-weight: 200;
}

ul {
  padding: 0;
  margin: 10px 0;
}

#groups > li {
  margin: 10px 0;
  background: hsl(212, 92%, 90%);
}

li {
  background: #fff;
  list-style-type: none;
  padding: 10px;
  margin: 5px 0;
  cursor: -webkit-grab; cursor: -moz-grab;
  /*border: 1px solid #aab;*/
  border-radius: 4px;
  -webkit-user-select: none;
}

#groups > li.accepts-drag {
  /*border-color: hsl(212, 92%, 75%);*/
  background: hsl(212, 92%, 80%);
}

#bucket {
  border-radius: 4px;
  margin: 10px 0;
  height: 100px;
  background: #ccc;
  /*background: #fcfcff;*/
}

